{% extends 'base.html' %}

{% block title %}Editar Producto - {{ user }}{% endblock %}

{% block menuopciones %}
{% include 'usuario/admin/menu_admin.html' %}
{% endblock %}

{% block breadcrumb %}
<a class="breadcrumb">
    <i class="material-icons left">store</i>
    Home
</a>
<a class="breadcrumb">Producto</a>
<a href="{% url 'usuario:admin_listar_productos' %}" class="breadcrumb">Lista de Productos</a>
<a class="breadcrumb">Editar Producto</a>
{% endblock %}

{% block contenido %}
{% include 'mensajes.html' %}
<form id="form-center" class="z-depth-4 col s12 m9" action="" method="POST"> {% csrf_token %}
    <h3 class="center blue-text text-darken-3 ">
        <i class="material-icons center medium">mode_edit</i>
        Editar Producto
    </h3>
     {% include 'producto/form_producto.html' %}
    <div id="last-row" class="row">
        <div class="input-field col s12 m7"> <!-- Botón Submit -->
            <button class="btn waves-effect waves-light" type="submit">Editar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn waves-effect waves-light red darken-1" href="{% url 'usuario:admin_listar_productos' %}">Cancelar
                <i class="material-icons left">error</i>
            </a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
