<div class="row">
<ul id="lista-menu-vertical" class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header blue darken-1 white-text"><i class="material-icons">description</i>Facturas</div>
        <div class="collapsible-body no-padding">
            <div class="collection">
                <a href="{% url 'usuario:crear_factura' %}" class="collection-item">
                    Crear
                    <i class="material-icons left">add</i>
                </a>
                <a href="{% url 'usuario:vendedor_listar_facturas' %}" class="collection-item">
                    Listar
                    <i class="material-icons left">list</i>
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header blue darken-1 white-text"><i class="material-icons">shopping_cart</i>Productos</div>
        <div class="collapsible-body no-padding">
            <div class="collection">
                <a href="{% url 'usuario:vendedor_listar_productos' %}" class="collection-item">
                    Listar
                    <i class="material-icons left">view_list</i>
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header blue darken-1 white-text"><i class="material-icons">assignment_ind</i>Clientes</div>
        <div class="collapsible-body no-padding">
            <div class="collection">
                <a href="{% url 'usuario:vendedor_registrar_cliente' %}" class="collection-item">
                    <i class="material-icons left">add</i>
                    Crear
                </a>
                <a href="{% url 'usuario:vendedor_listar_clientes' %}" class="collection-item">
                    <i class="material-icons left">view_list</i>
                    Listar
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header blue darken-1 white-text"><i class="material-icons">settings</i>Opciones</div>
        <div class="collapsible-body no-padding">
            <div class="collection">
                <a href="{% url 'usuario:cerrar_sesion' %}" class="collection-item">
                    <i class="material-icons left">system_update_alt</i>
                    Salir
                </a>
            </div>
        </div>
    </li>
</ul>
</div>