{% extends 'base.html' %}

{% block title %}Crear Cliente - {{ user }}{% endblock %}

{% block menuopciones %}
{% if request.session.rol == 'administrador' %}
{% include 'usuario/admin/menu_admin.html' %}
{% elif request.session.rol == 'vendedor' %}
{% include 'usuario/vendedor/menu_vendedor.html' %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
<a class="breadcrumb">
    <i class="material-icons left">store</i>
    Home
</a>
<a class="breadcrumb">Clientes</a>
<a class="breadcrumb">Crear</a>
{% endblock %}

{% block contenido %}
{% include 'mensajes.html' %}
<form id="form-center" class="z-depth-4 col s12 m9" action="" method="POST"> {% csrf_token %}
    <h3 class="center blue-text text-darken-3 ">
        <i class="material-icons center medium">note_add</i>
        Crear Cliente
    </h3>
     {% include 'usuario/cliente/form_cliente.html' %}
    <div id="last-row" class="row">
        <div class="input-field col s12 m7"> <!-- Botón Submit -->
            <button class="btn waves-effect waves-light" type="submit">Crear
                <i class="material-icons right">send</i>
            </button>
            {% if request.session.rol == 'administrador' %}
            <a class="btn waves-effect waves-light red darken-1" href="{% url 'usuario:admin_home' %}">Cancelar
                <i class="material-icons left">error</i>
            </a>
            {% elif request.session.rol == 'vendedor' %}
            <a class="btn waves-effect waves-light red darken-1" href="{% url 'usuario:vendedor_home' %}">Cancelar
                <i class="material-icons left">error</i>
            </a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}