{% extends 'base.html' %}

{% block title %}Te has registrado con éxito{% endblock %}

{% block content %}
<div class="row">
    <h2 class="center-align blue-text text-darken-4">Te has registrado con éxito</h2>
    <div class="col s12">
        <p>
            Tu solicitud ha sido enviada. Ahora solo falta que el <b>Administrador</b> del sitio active tu cuenta.
        </p>
        <p>
            Te enviaremos un correo electrónico cuando tu cuenta halla sido activada. :)
        </p>
    </div>
</div>

{% endblock %}

