{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Comprobante - {{ user }}{% endblock %}

{% block menuopciones %}
{% if request.session.rol == 'administrador' %}
{% include 'usuario/admin/menu_admin.html' %}
{% elif request.session.rol == 'vendedor' %}
{% include 'usuario/vendedor/menu_vendedor.html' %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
{% if request.session.rol == 'administrador' %}
<a href="{% url 'usuario:admin_home' %}" class="breadcrumb">
    <i class="material-icons">store</i>
    Home
</a>
{% elif request.session.rol == 'vendedor' %}
<a href="{% url 'usuario:vendedor_home' %}" class="breadcrumb">
    <i class="material-icons">store</i>
    Home
</a>
{% endif %}
<a class="breadcrumb">Facturas</a>
{% if request.session.rol == 'administrador' %}
<a href="{% url 'usuario:admin_listar_facturas' %}" class="breadcrumb">
    Lista Facturas
</a>
{% elif request.session.rol == 'vendedor' %}
<a href="{% url 'usuario:vendedor_listar_facturas' %}" class="breadcrumb">
    Lista Facturas
</a>
{% endif %}
<a class="breadcrumb">Comprobante</a>
{% endblock %}

{% block contenido %}
<div id="comprobante" class="col s12 m10 blue lighten-5 z-depth-4">
    <div id="cabecera-comprobante" class="row"><!-- Cabecera del Comprobante -->
        <div class="col s12 m4">
            <img class="logo" src="{% static 'img/manage-shoes-logo.png' %}" />
        </div>
        <div class="col s12 m4">
            <h6 class="center header-title"><b>MANAGE SHOES</b></h6>
            <div class="center header-content"><span class="texto-factura">Nit: 9.999.999-9</span></div>
            <div class="center header-content"><span class="texto-factura">manage_shoes@gmail.com</span></div>
            <div class="center header-content"><span class="texto-factura">Pereira-Risaralda</span></div>
        </div>
        <div class="col s12 m4">
            <div class="col s12 no-padding">
                <div class="numero-factura"><span><b>FACTURA: </b></span>{{ factura.id }}</div>
            </div>
            
            <div class="col s12 m4 no-padding center">
                <div class="white-text blue darken-1 tag-fecha"><span>DÍA</span></div>
                <div class="fecha">{{ factura.fecha.day }}</div>
            </div>
            <div class="col s12 m4 no-padding center">
                <div class="white-text blue darken-1 tag-fecha"><span>MES</span></div>
                <div class="fecha">{{ factura.fecha.month }}</div>
            </div>
            <div class="col s12 m4 no-padding center">
                <div class="white-text blue darken-1 tag-fecha"><span>AÑO</span></div>
                <div class="fecha">{{ factura.fecha.year }}</div>
            </div>
        </div>
    </div>
    <div class="row"> <!-- Información del cliente. -->
        <div class="row celda"> <!-- Cliente y Cédula -->
            <div class="col s12 m6">
                <span><b>Cliente: </b></span>
                {{ factura.cliente.nombre_completo }}
            </div>
            <div class="col s12 m6">
                <span><b>Cédula: </b></span>
                {{ factura.cliente.cedula }}
            </div>
        </div>
        <div class="row celda"> <!-- Direccíón, Teléfono y Ciudad -->
            <div class="col s12 m5">
                <span><b>Dirección: </b></span>
                {{ factura.cliente.direccion }}
            </div>
            <div class="col s12 m3">
                <span><b>Teléfono: </b></span>
                {{ factura.cliente.telefono }}
            </div>
            <div class="col s12 m4">
                <span><b>Ciudad: </b></span>
                {{ factura.cliente.ciudad }}
            </div>
        </div>
    </div>
    <div class="row"> <!-- Detalle de la Factura. -->
        <div class="col s12 no-padding">
            <div class="col s12 m2">
                <div class="celda center blue darken-1 white-text">
                    <div><span><b>CANT</b></span></div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="celda center blue darken-1 white-text">
                    <div><span><b>PRODUCTO</b></span></div>
                </div>

            </div>
            <div class="col s12 m3">
                <div class="celda center blue darken-1 white-text">
                    <div><span><b>$VAL UNI</b></span></div>
                </div>

            </div>
            <div class="col s12 m3">
                <div class="celda center blue darken-1 white-text">
                    <div><span><b>$TOTAL</b></span></div>
                </div>
            </div>
        </div>
        {% if detalles %}
        {% for detalle in detalles %}
        <div class="col s12 no-padding">
            <div class="col s12 m2">
                <div class="celda center"><span>{{ detalle.cantidad }}</span></div>
            </div>
            <div class="col s12 m4">
                <div class="celda center"><span>{{ detalle.producto.nombre }}</span></div>
            </div>
            <div class="col s12 m3">
                <div class="celda center"><span>${{ detalle.producto.precio }}</span></div>
            </div>
            <div class="col s12 m3">
                <div class="celda center"><span>${{ detalle.total }}</span></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row"> <!-- Total a pagar -->
        <div class="col s12 m6 celda blue lighten-4">
            <div class="col s12 margin"><!-- Subtotal -->
                <div class="col s12 m4"><span><b>SUBTOTAL:</b></span></div>
                <div class="col s12 m4 offset-m4 celda right-align"><span><b>${{ subtotal }}</b></span></div>
            </div>
            <div class="col s12 margin"> <!-- IVA -->
                <div class="col s12 m4"><span><b>IVA(19%)</b></span></div>
                <div class="col s12 m4 offset-m4 celda right-align"><span><b>${{ iva }}</b></span></div>
            </div>
            <div class="col s12 margin">
                <div class="col s12 m4"><span><b>TOTAL A PAGAR:</b></span></div>
                <div class="col s12 m4 offset-m4 celda right-align"><span><b>${{ total_pagar }}</b></span></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}