{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Crear Factura - {{ user }}{% endblock %}

{% block menuopciones %}
{% include 'usuario/vendedor/menu_vendedor.html' %}
{% endblock %}

{% block breadcrumb %}
<a class="breadcrumb">
    <i class="material-icons left">store</i>
    Home
</a>
<a class="breadcrumb">
    Factuas
</a>
<a class="breadcrumb">
    Crear Factura
</a>
{% endblock %}

{% block contenido %}
{% include 'mensajes.html' %}
<div id="contenedor-factura" class="row">
    <div id="header-factura" class="row"><!-- Cabecera Factura -->
        <div class="col s12 m8">
            <div class="columna contenedor-logo-factura">
                <img id="logo-factura" class="responsive-img" src="{% static 'img/manage-shoes-logo.png' %}" />
            </div>
            <div class="columna contenedor-info-logo">
                <div><b>Manage Shoes</b></div>
                <div class="texto-factura">Cra 5 # 22-11</div>
                <div class="texto-factura">Pereira - Risaralda</div>
                <div class="texto-factura">manage_shoes@gmail.com</div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="texto-factura right-align"><b>Fecha:</b> XXX</div>
            <div class="texto-factura right-align"><b>Factura N°:</b> 33</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="columna contenedor-info-cliente">  <!--- Información Cliente -->
                <div>
                    <h5>
                        Cliente:
                        <!-- Modal Trigger Buscar Cliente -->
                        <a class="btn btn-floating blue darken-1 pulse" href="#modal-buscar-cliente">
                            <i class="material-icons">add</i>
                        </a>
                    </h5>
                    {% include 'factura/modal-agregar-cliente.html' %}
                    {% include 'factura/modal-buscar-cliente.html' %}
                </div>
                <div id="cedula-cliente" class="texto-factura"></div>
                <div id="nombre-cliente" class="texto-factura"></div>
                <div id="direccion-cliente" class="texto-factura"></div>
                <div id="ciudad-cliente" class="texto-factura"></div>
                <div id="telefono-cliente" class="texto-factura"></div>
            </div>
            <div class="columna contenedor-info-vendedor"> <!-- Información Vendedor -->
                <h6 class="right-align">Vendedor:</h6>
                <div class="texto-factura right-align">{{ user }}</div>
                <div class="texto-factura right-align">{{ user.nombres }}</div>
                <div class="texto-factura right-align">{{ user.apellidos }}</div>
            </div>
        </div>
    </div>
    <div class="row"> <!-- Detalle factura -->
        <div class="col s12">
            <h5>
                Detalle Factura
                <a class="waves-effect waves-light btn-floating blue darken-1" href="#modal-buscar-producto">
                    <i class="material-icons">add</i>
                </a>
            </h5>
            {% include 'factura/modal-buscar-producto.html' %}
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>ACCIÓN</th>
                        <th>CANT</th>
                        <th>REFERENCIA</th>
                        <th>PRODUCTO</th>
                        <th>PRECIO UNIT.</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody id="body-factura">
                </tbody>
            </table>
            <div class="row">
                <div class="col s12">
                    <div><span class="right-align">Iva</span></div>
                    <div><span class="right-align">Subtotal</span></div>
                    <div><span class="right-align">Total a Pagar</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsfiles %}
<script src="{% static 'js/crear_factura.js' %}" ></script>
{% endblock %}