{% extends 'base.html' %}

{% block title %}Home Admin - {{ user }}{% endblock %}

{% block menuopciones %}
{% include 'usuario/admin/menu_admin.html' %}
{% endblock %}

{% block breadcrumb %}
<a class="breadcrumb">
    <i class="material-icons left">store</i>
    Home
</a>
{% endblock %}


{% block contenido %}
<div>
    <div class="row no-padding">
        <h3 class="blue-text darken-1 center titulo-home">Bienvenido al sistema {{ user | upper }}</h3>
    </div>
    <div class="row">
        <div id="contenedor-centrado" class="col s12 m10">
            <div class="col s12 m4">
                <div class="acceso-directo blue darken-1 z-depth-4">
                    <div>
                        <h5 class="white-text center">
                            <i class="material-icons large center">shopping_cart</i>
                        </h5>
                    </div>
                    <div class="acceso blue lighten-5">
                        <a class="btn-floating blue darken-1 center boton-acceso" href="{% url 'usuario:crear_producto' %}" title="Agregar Producto">
                            <i class="material-icons center">add</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="acceso-directo blue darken-1 z-depth-4">
                    <div>
                        <h5 class="white-text center">
                            <i class="material-icons large center">description</i>
                        </h5>
                    </div>
                    <div class="acceso blue lighten-5">
                        <a class="btn-floating blue darken-1 center boton-acceso" href="{% url 'usuario:admin_listar_facturas' %}" title="Facturas">
                            <i class="material-icons center">list</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="acceso-directo blue darken-1 z-depth-4">
                    <div>
                        <h5 class="white-text center">
                            <i class="material-icons large center">verified_user</i>
                        </h5>
                        <div class="center"><span class="white-text"><b>Solicitudes pendientes: ({{ numero_cuentas }})</b></span></div>
                    </div>
                    <div class="acceso blue lighten-5">
                        <a class="btn-floating blue darken-1 center boton-acceso" href="{% url 'usuario:activar_cuentas' %}" title="Activar Cuentas">
                            <i class="material-icons center">send</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

